$fadeDuration: 500ms;

@mixin applyFadeEffect {
    -webkit-animation: fadein $fadeDuration;
    -moz-animation: fadein $fadeDuration;
    -ms-animation: fadein $fadeDuration;
    -o-animation: fadein $fadeDuration;
    animation: fadein $fadeDuration;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
// .scheduler-container {
    // height: calc(100vh - 50px - 200px);
    // height: 80vh;
    // width: 100vw;
    // @include applyFadeEffect();
    // z-index: 0;
// }

.react-daterange-picker__calendar {
    z-index: 4;
}
.react-date-picker__calendar {
    z-index: 4;
}

.react-date-picker__clear-button,
.react-daterange-picker__clear-button {
    display: none;
}
