$fadeDuration: 500ms;

@mixin applyFadeEffect {
    -webkit-animation: fadein $fadeDuration;
    -moz-animation: fadein $fadeDuration;
    -ms-animation: fadein $fadeDuration;
    -o-animation: fadein $fadeDuration;
    animation: fadein $fadeDuration;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.scheduler-container {
    // height: calc(100vh - 50px - 200px);
    height: 100vh;
    // width: 100vw;
    @include applyFadeEffect();
}

.dhx_cal_date{
    cursor: pointer;
}

.dhx_cal_event_cont_selected{
    background-color: #9cc1db;
    color: white;
}
.dhx_scale_hour_main {
    float: left;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}
.dhx_scale_hour_minute_cont {
    float: left;
    position: relative;
    text-align: right;
}
.dhx_scale_hour_minute_top, .dhx_scale_hour_minute_bottom {
    font-size: 10px;
    padding-right: 5px;
}
.dhx_scale_hour_sep {
    position: absolute;
    height: 1px;
    background-color: #8C929A;
    right: 0;
    top: 20px;
    width: 20px;
}